@media screen and(max-width:1327px) {
    @w: 1200px;
    div.top,div.footer {
        width: @w;
    }
}

@media screen and(min-width:1328px) {
    @w: 1328px;
    div.top,div.footer {
        width: @w;
    }
}