.top {
    width: 1349px;
    .upper {
        position: relative;
        width: 100%;
        height: 79px;
        margin: 0 auto;
        line-height: 79px;
        border-bottom: 1px solid #ccc;
        .ml{
            width: 98px;
            height: 38px;
            border: 1px solid #ccc;
            line-height: 38px;
            text-align: center;
            font-size: 14px;
            border-radius: 19px;
            box-shadow: 0 1px 3px 1px  #ebebeb;
            margin-left: 27px;
            margin-top: 18px;
            margin-right: 23px;
        }
        input {
            width: 299px;
            height: 40px;
            border-radius: 20px;
            border: 1px solid #757575;
            padding-left: 25px;
            box-sizing: border-box;
            margin-top: 18px;
            font-size: 14px;
        }
        span.search{
            font-size: 28px;
            position: absolute;
            top:0;
            left: 400px;
            transform: rotate(-10deg);
        }
        .dior {
            margin-left: 150px;
            a{
                display:inline-block;
                // line-height: 79px;
                img{
                    margin-top: -7px;
                }
            }
        }
        .r  {
            span{
                font-size: 22px;
                margin-right: 26px;
            }
            span:nth-child(2){
                font-size: 27px;
            }
        }
    }
    //content部分
}
.content{
    width: 1349px;
    margin: 0 auto;
    margin-top: 45px;
    padding-left: 20px;
    .left {
        .t {
            margin-bottom: 26px;
            a {
                display: inline-block;
                img{
                    width: 785px;
                }
            }
        }
        ul {
            width: 806px;
            li {
                float: left;
                margin-right: 21px;
                margin-bottom: 27px;
                img{
                    width: 382px;
                }
            }
        }
    }
    .right {
        width: 448px;
        margin-left: 52px;
        .tittle{
            padding-bottom: 20px;
            font-size: 31px;
            line-height: 35px;
            border-bottom: 1px solid #ccc;
            span {
                font-size: 16px;
            }
        }
    }
}