.middle {
  width: 1200px;
  margin: 0 auto;
  /* 小点按钮样式 */
}
.middle a {
  color: #000;
}
.middle .title {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 117px;
}
.middle .title li {
  float: left;
  margin: 0 48px;
}
.middle .title li a {
  color: #000;
  display: block;
  height: 30px;
  padding: 0 10px;
}
.middle .title .bottom-line {
  border-bottom: 2px solid #000;
}
.middle .title_content {
  padding-bottom: 46px;
  border-bottom: 1px solid #e5e5e5;
}
.middle .title_content > div {
  padding-top: 46px;
  display: none;
}
.middle .title_content .first-div {
  display: block;
}
.middle .title_content .first-div p {
  height: 25px;
}
.middle .title_content .first-div .p49 {
  height: 49px;
}
.middle .title_content :nth-child(2) p {
  height: 36px;
}
.middle .title_content .color div {
  width: 50%;
}
.middle .title_content .color p {
  text-align: center;
}
.middle .title_content .color img {
  display: block;
  margin-top: 87px;
  width: 100%;
  height: 456px;
}
.middle .title_content .color .fr {
  width: 600px;
}
.middle .title_content :nth-child(4) p {
  height: 36px;
}
.middle .title_content :nth-child(5) div {
  width: 50%;
}
.middle .title_content :nth-child(5) .fr {
  margin-top: 144px;
}
.middle .title_content :nth-child(5) p {
  text-align: center;
  height: 25px;
}
.middle .title_content :nth-child(5) video,
.middle .title_content :nth-child(5) img {
  width: 100%;
}
.middle .title_content :nth-child(5) video {
  display: none;
}
.middle .title_content :nth-child(5) .fl {
  position: relative;
}
.middle .title_content :nth-child(5) .fl .video-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.middle .title_content :nth-child(5) .fl .video-icon span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px;
  border-color: transparent  transparent transparent #fff;
}
.middle .title_content :last-child .fr {
  margin-top: 106px;
  text-align: center;
  margin-right: 254px;
}
.middle .title_content :last-child .fr a {
  display: block;
  margin-left: 36px;
  width: 130px;
  height: 46px;
  line-height: 46px;
  font-size: 15px;
  border: 1px solid #000;
  border-radius: 20px;
  text-align: center;
}
.middle h3 {
  text-align: center;
  font-size: 26px;
  margin-top: 25px;
}
.middle .slider {
  height: 500px;
  width: 1050px;
  margin: 35px auto;
  position: relative;
}
.middle .slider img {
  width: 328px;
  margin-bottom: 20px;
}
.middle .slider .img2 {
  margin: 0 29px;
  margin-bottom: 20px;
}
.middle .slider li {
  position: absolute;
  display: none;
}
.middle .slider li a {
  display: block;
}
.middle .slider li a div {
  position: relative;
  float: left;
  text-align: center;
}
.middle .slider li a div p {
  height: 26px;
}
.middle .slider li a div span {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  font-weight: 700;
}
.middle .slider li a .love span {
  right: 45px;
}
.middle .slider li a p,
.middle .slider li a em,
.middle .slider li a i {
  color: #000;
}
.middle .slider li:first-child {
  display: block;
}
.middle .arrow {
  display: none;
}
.middle .slider:hover .arrow {
  display: block;
}
.middle .arrow-left,
.middle .arrow-right {
  font: 700 30px "SimSun", "宋体";
  width: 30px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  color: #fff;
}
.middle .arrow-left {
  left: 0;
}
.middle .arrow-right {
  right: 5px;
}
.middle .controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.middle .controls a {
  float: left;
  width: 5px;
  height: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-left: 10px;
}
.middle .controls a:first-child {
  margin-left: 0;
}
.middle .controls a.active {
  border-color: #000;
  background: #000;
}
