.top {
  position: relative;
}
.top h1,
.top p {
  text-align: center;
}
.top .w {
  margin: 0 auto;
  width: 95%;
}
.top .fl {
  float: left;
}
.top .fr {
  float: right;
}
.top .hidden {
  overflow: hidden;
}
.top .video-img {
  margin: 0 auto;
}
.top .ml_develop {
  display: none;
}
.top .ml_develop .cover {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1111111;
}
.top .ml_develop ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 28.8%;
  height: 100%;
  background-color: #fff;
  overflow: auto;
  z-index: 1111111;
}
.top .ml_develop ul li {
  line-height: 79px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  cursor: pointer;
}
.top .ml_develop ul li:nth-child(1) {
  padding-left: 27px;
  text-align: left;
  margin-left: 0;
}
.top .ml_develop ul li:nth-child(1) img {
  height: 25px;
  cursor: pointer;
}
.top .ml_develop ul li:nth-child(2),
.top .ml_develop ul li:nth-child(3) {
  background: url(../img/xiaoyuhao.png) 44px 31px no-repeat;
  background-size: 11px 14px;
}
.top .ml_develop ul li:nth-child(2):hover,
.top .ml_develop ul li:nth-child(3):hover {
  font-weight: 700;
}
.top .ml_develop ul p {
  line-height: 57px;
}
.top .ml_develop ul p:hover {
  font-weight: 700;
}
.top .ml_develop ul li:nth-child(4) {
  border-bottom: 0;
}
.top .ml_develop ul .cosmetics {
  line-height: 54px;
  border-bottom: none;
}
.top .ml_develop ul .d3_show {
  line-height: 54px;
  text-align: center;
}
.top .ml_develop ul .d3_show p:nth-child(2),
.top .ml_develop ul .d3_show p:nth-child(4),
.top .ml_develop ul .d3_show p:nth-child(9) {
  border-bottom: 2px solid #e5e5e5;
  margin-left: 40%;
  margin-right: 40%;
}
.top .upper {
  position: relative;
  width: 100%;
  height: 79px;
  margin: 0 auto;
  line-height: 79px;
  border-bottom: 1px solid #ccc;
}
.top .upper .ml {
  width: 98px;
  height: 38px;
  border: 1px solid #ccc;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
  border-radius: 19px;
  box-shadow: 0 1px 3px 1px #ebebeb;
  margin-left: 27px;
  margin-top: 18px;
  margin-right: 23px;
}
.top .upper input {
  width: 299px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #757575;
  padding-left: 25px;
  box-sizing: border-box;
  margin-top: 18px;
  font-size: 14px;
}
.top .upper span.search {
  font-size: 28px;
  position: absolute;
  top: 0;
  left: 400px;
  transform: rotate(-10deg);
}
.top .upper .dior {
  margin-left: 150px;
}
.top .upper .dior a {
  display: inline-block;
}
.top .upper .dior a img {
  margin-top: -7px;
}
.top .upper .r span {
  font-size: 22px;
  margin-right: 26px;
}
.top .upper .r span:nth-child(2) {
  font-size: 27px;
}
.beiJin .gouWu {
  overflow: auto;
  display: none;
  float: right;
  height: 666px;
  width: 446px;
  background: #fff;
  position: fixed;
  right: 0;
  z-index: 9999;
}
.beiJin .gouWu .X {
  widows: 40px;
  height: 40px;
  display: block;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  cursor: pointer;
}
.beiJin .gouWu .yeMian img {
  width: 60px;
}
.beiJin .gouWu .yeMian ul {
  padding-top: 80px;
}
.beiJin .gouWu .yeMian li {
  float: left;
  margin-top: 3px;
  margin: 0 10px;
  font-size: 13px;
  padding: 10px;
  padding-top: 40px;
}
.beiJin .gouWu .yeMian a {
  color: #000;
}
.beiJin .gouWu .yeMian div {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #000;
}
.beiJin .gouWu .yeMian div img {
  width: 40px;
}
.beiJin .gouWu .yeMian p {
  padding-left: 30px;
  text-align: left;
  line-height: 20px;
  font-size: 10px;
  padding-top: 40px;
  float: left;
}
.beiJin .gouWu .yeMian img {
  float: left;
  width: 150px;
}
.beiJin .gouWu .diYi {
  position: fixed;
  background-color: #fff;
}
.beiJin .gouWu .zF {
  width: 370px;
  background-color: #fff;
  padding-left: 60px;
  height: 38px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
.beiJin .gouWu .zF li {
  cursor: pointer;
  float: left;
  margin-top: 3px;
  margin: 0 10px;
  font-size: 13px;
  padding: 10px;
}
.beiJin .gouWu .zF .solid {
  border-bottom: solid 2px #000;
}
.xianShi .zuoPin {
  padding-top: 40px;
  text-align: center;
  font-size: 12px;
}
.w-1 {
  padding-left: 20px;
  padding-right: 20px;
}
.w-1 h1 {
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.w-1 .n-r .banner p {
  padding: 20px;
  font-size: 14px;
  width: 100%;
}
.w-1 .n-r .banner img {
  width: 100%;
}
.font-xq {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.font {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
}
.font button {
  background: none;
  outline: none;
  border: none;
}
.show-u {
  display: none;
}
.show-y {
  display: none;
  flex-wrap: wrap;
  display: flex;
}
.show-y img {
  width: 200px;
}
.show-y div {
  position: relative;
}
.show-y div .aiXin {
  color: #ccc;
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}
.show-y div .nve {
  display: none;
}
.show-y div {
  margin: 0 20px;
  align-content: center;
  margin-bottom: 20px;
}
.show-y div img {
  width: 300px;
}
.show-y div p {
  position: relative;
  text-align: left;
  font-size: 14px;
}
.show-y div p .n-d {
  position: absolute;
  top: 65px;
  display: block;
  margin-left: 40px;
}
.show-y div p .n-d i {
  float: left;
  margin-left: 10px;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: black;
}
.show-y div p .n-d .hui {
  background-color: #ccc;
}
.show-y div p .n-d span {
  color: #ccc;
}
.show-y .xiXi a img {
  width: 200px;
}
.icon {
  color: #000;
  width: 1.8em;
  height: 1.8em;
  vertical-align: -0.15em;
  fill: currentColor;
}
.icon-r {
  color: #ccc;
  width: 1.8em;
  height: 1.8em;
  vertical-align: -0.15em;
  fill: currentColor;
}
body .dingBu {
  display: none;
  position: fixed;
  right: 0;
  bottom: 10px;
  z-index: 9999;
}
svg {
  cursor: pointer;
}
.show ul li p{
  text-align: left;
  
}
