.top {
  height: 70px;
  line-height: 70px;
  background-color: #ffe5a5;
  text-align: center;
}
.title ul {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}
.title ul li {
  flex: 1;
}
.title ul li a {
  display: block;
  height: 114px;
  line-height: 114px;
  text-align: center;
}
.title ul li a em {
  font-size: 18px;
}
.title ul li a span {
  margin: 0 10px;
}
.title ul li a span:nth-child(1) {
  vertical-align: middle;
  font-size: 23px;
}
.title ul li a span:nth-child(2) {
  vertical-align: middle;
  font-size: 20px;
}
.title ul li a span:nth-child(3) {
  font-size: 23px;
  vertical-align: middle;
}
.title ul li img {
  height: 36px;
}
.w .middle h2 {
  width: 618px;
  margin: 0 auto;
  height: 44px;
  margin-top: 36px;
  color: #636363;
}
.w .middle form {
  position: relative;
  width: 618px;
  height: 422px;
  border: 1px solid #cdcdcd;
  margin: 0 auto;
  padding: 64px 50px 26px 30px;
  box-sizing: border-box;
}
.w .middle form .left {
  width: 240px;
}
.w .middle form .left .phone {
  color: #636363;
  height: 26px;
}
.w .middle form .left input {
  height: 30px;
  line-height: 30px;
  background-color: #ebebeb;
  border-radius: 5px;
  padding-left: 9px;
  box-sizing: border-box;
}
.w .middle form .left .input-1 {
  width: 240px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #ebebeb;
}
.w .middle form .left .input-2,
.w .middle form .left .input-3 {
  margin-bottom: 25px;
  border-radius: 5px;
}
.w .middle form .left .input-2 input,
.w .middle form .left .input-3 input {
  width: 150px;
}
.w .middle form .left .input-2 span,
.w .middle form .left .input-3 span {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #ebebeb;
  font-size: 18px;
  color: #666;
  text-align: center;
}
.w .middle form .left .input-2 button,
.w .middle form .left .input-3 button {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
}
.w .middle form .left p {
  color: #636363;
  font-size: 13px;
  margin-bottom: 10px;
}
.w .middle form .left .check span,
.w .middle form .left .check ins {
  color: #636363;
}
.w .middle form .left .btn2 {
  display: inline-block;
  width: 240px;
  height: 30px;
  line-height: 30px;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
}
.w .middle form .left .wx span {
  color: #a0a0a0;
  margin-right: 15px;
}
.w .middle form .left .wx img {
  height: 22px;
}
.w .middle form .line {
  position: absolute;
  left: 308px;
  top: 76px;
  width: 1px;
  height: 146px;
  background-color: #d4d4d4;
}
.w .middle form .right p {
  color: #636363;
  height: 20px;
}
.w .middle form .right .one {
  height: 50px;
}
.w .middle form .right div {
  width: 230px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #000;
  border-radius: 15px;
  text-align: center;
  margin-top: 45px;
}
.w .middle .bottom-1,
.w .middle .bottom-2 {
  width: 618px;
  margin: 0 auto;
  text-align: center;
  color: #636363;
}
.w .middle .bottom-1 {
  margin-top: 18px;
  height: 16px;
}
.w .middle .bottom-2 {
  height: 84px;
}
.footer {
  border-top: 1px solid #e5e5e5;
}
.footer footer {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.footer footer h3 {
  margin-top: 48px;
  height: 23px;
  font-size: 16px;
  font-weight: 400;
}
.footer footer .speak {
  display: none;
}
.footer footer button {
  width: 334px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 22px;
  font-size: 16px;
  background-color: #fff;
  padding: 0 22px;
  box-sizing: border-box;
  text-align: left;
}
.footer footer button span {
  display: inline-block;
  font-size: 22px;
}
.footer footer button .fl {
  margin-right: 14px;
}
.footer footer .foot-check {
  margin-top: 48px;
}
.footer footer .foot-check li {
  height: 40px;
}
.footer footer p {
  height: 22px;
}
.footer footer img {
  height: 18px;
}
